# Author: Kota Miura
Plugins>CMCICourceModule, "CLATH", CLATH_
Plugins>CMCICourceModule, "-"
Plugins>CMCICourceModule, "Logarithm", Logarithm_
Plugins>CMCICourceModule, "Power Law", Power_Law
Plugins>CMCICourceModule, "Contrast Stretching", Contrast_Stretching
Plugins>CMCICourceModule, "-"
Plugins>CMCICourceModule, "HighpassFilters_",HighpassFilters_
Plugins>CMCICourceModule, "LowpassFilters ",LowpassFilters_
Plugins>CMCICourceModule, "BandControl ",BandControl_
Plugins>CMCICourceModule, "Bandpass Bandreject Filter",Bandpass_Bandreject_Filter
Plugins>CMCICourceModule, "Laplacian ", Laplacian_ 
Plugins>CMCICourceModule, "Harris ", Harris_ 
Plugins>CMCICourceModule, "-"
Plugins>CMCICourceModule, "Adaptive Filters",Adaptive_Filters
Plugins>CMCICourceModule, "Mean Filters",Mean_Filters
Plugins>CMCICourceModule, "Morphology",Morphology_
Plugins>CMCICourceModule, "Order_Statistics_Filters",Order_Statistics_Filters
Plugins>CMCICourceModule, "-"
Plugins>CMCICourceModule, "LoG",LoG_
Plugins>CMCICourceModule, "Canny",Canny_
